<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<div id="myModal" class="modal" role="dialog">

  <!-- Modal content -->
  <div class="modal-content">
        <div class="modal-header"><span class="close" style="color: red;">&times;</span></div>

        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="nomGare">Code</label>
                    <input type="text"
                    class="form-control" name="" id="code" aria-describedby="helpId" placeholder="Entrer un code">
                    <label for="nomGare">Nom</label>
                    <input type="text"
                    class="form-control" name="" id="nom" aria-describedby="helpId" placeholder="Entrer un nom">
                    <label for="sel1">Lieu</label>
                        <select class="form-control DepartId" id="lieu">
                            <option id="0" selected disabled>Lieu</option>
                        </select>
                </div>
            </form>
        </div>

        <div class="modal-footer left">
            <button  id="submit" class="btn btn-primary"><big>Ajouter</big></button>
        </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"><span class="close" style="color: red;">&times;</span></div>

    <div class="modal-body">
      <div class="form-group">
        <label for="sel1">Trajet</label>
        <select class="form-control DepartId" id="trajet">
          <option id="0" selected disabled>Trajet</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel1">Section</label>
        <select class="form-control ArriveeId" id="section">
          <option id="0" selected disabled>Section</option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" id="submit" onclick="ajouterPtb()" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
  

</div>



{{ form_start(form) }}
    <div class="row">
        <div class="col-xs-10">{{ form_row(form.guichet, {attr : {'placeholder': "Exemple: Guichet Dkr"}}) }}</div>
        <div class="col-xs-2 cs"><a type="button" class="btn btn-warning" id="myBBtn" onclick="addGuichet()"><i class="glyphicon glyphicon-plus"></i></a></div>
    </div>
    <div class="row">
        <div class="col-xs-10">{{ form_row(form.ptb) }}</div>
        <!--div class="col-xs-2 cs"><a type="button" class="btn btn-warning" id="btnPtb" onclick="addPtb()" ><i class="glyphicon glyphicon-plus"></i></a></div-->
    </div>
    <button class="btn btn-info"><big>{{ button_label|default('Enregistrer') }}</big></button>
{{ form_end(form) }}


<style>
    .cs{
       position: relative;
       top: 1.55em;
       left: 1.7em; 
    }

    .cs2{
       position: relative;
       top: 1.55em;
       left: 1.7em; 
    }

</style>

<script>
    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementsByClassName('modal')[0];
    span.onclick = function() 
    {
        modal.style.display = "none";
    }

    function addGuichet()
    {
        modal.style.display = "block";
        getJson('http://serveurptb:8000/json/lieu/depart',1);
    }

    function ajouterGuichet()
    {
        var code = document.getElementById('code').value;
        var nom = document.getElementById('nom').value;
        var lieu = document.getElementById('lieu').value;

        document.location.href = `http://serveurptb:8000/addGuichetPtb/${code}/${nom}/${lieu}`;
    }
   /*function addGuichet(){
       swal("Write something here:", {
        content: "input",
        })
        .then((value) => {
        swal(`You typed: ${value}`);
        });
   }*/

   var span1 = document.getElementsByClassName("close")[1];
   var modal1 = document.getElementsByClassName('modal')[1];

    span1.onclick = function() 
    {
        modal1.style.display = "none";
    }

    function addPtb()
    {
        modal1.style.display = "block";
        getJson("http://serveurptb:8000/json/section/",2);
        getJson("http://serveurptb:8000/json/TrajetBillet/",3);
    }

    function ajouterPtb()
    {
        var section = document.getElementById('section').value;
        var trajet = document.getElementById('trajet').value;

        modal1.style.display = "none";

        document.location.href = `http://serveurptb:8000/addPtbBillet/${trajet}/${section}`;
    }




   /*------------------------Remplire combo-------------------*/

    const combLieu = document.getElementById('lieu');

    const comboTrajet = document.getElementById('trajet');
    const comboSection = document.getElementById('section');

    function getJson(link,id)
    {
        let xhttp=new XMLHttpRequest();
        
        xhttp.onreadystatechange = function()
        {
            if(this.readyState == 4 && this.status == 200)
            {
            let response = JSON.parse(xhttp.responseText);
            
            switch(id){
                case 1:
                setLieu1(response);
                break;
                case 2:
                setSection1(response);
                break;
                case 3:
                setTrajet1(response);
                break;
            }
            }
        }
        
        xhttp.open("GET",link,true);
        xhttp.send();

    }

    function setLieu1(array)
    {
        for(let i=0; i<array.length; i++){
            let option=document.createElement('option');
            option.id = `${array[i].id}`;
            let t = document.createTextNode(`${array[i].libelle}`);
            option.appendChild(t);
            combLieu.appendChild(option);
        }
    }

    function setSection1(array)
    {
        for(let i=0; i<array.length; i++){
            let option=document.createElement('option');
            option.id = `${array[i].id}`;
            let t = document.createTextNode(`${array[i].libelle}`);
            option.appendChild(t);
            comboSection.appendChild(option);
        }
    }

    function setTrajet1(array)
    {
        for(let i=0; i<array.length; i++){
            let option=document.createElement('option');
            option.id = `${array[i].id}`;
            let t = document.createTextNode(`${array[i].Depart}-${array[i].Arrivee}`);
            option.appendChild(t);
            comboTrajet.appendChild(option);
        }
    }

    //---------Traitement du modal Guichet------------------//

  document.getElementById("submit").addEventListener("click", function(e){
  e.preventDefault();

  var code = document.getElementById('code').value;
  var nom = document.getElementById('nom').value;
  var lieu = document.getElementById('lieu');
  lieu = lieu.options[lieu.selectedIndex].id;
  var regexCode = /^[a-zA-Z0-9]+$/;
  var regexNom = /^[a-zA-Z ]+$/;
  if (code === "" || nom === "" || !regexCode.test(code) || !regexNom.test(nom)) {
    alert("Les champs ne doivent pas être vide et ne doivent pas contenir des caractères spéciaux !!");
  } else {
 
    let xhttp=new XMLHttpRequest();
    
    xhttp.onreadystatechange = function()
    {
      if(this.readyState == 4 && this.status == 200)
      {
        let response = JSON.parse(xhttp.response);
        console.log(response);
        
        if(response){
          swal({
          title: "Succès",
          text: "Un guichet a été ajouté",
          icon: "success",
          
          })
              .then((value) => {
                var modal = document.getElementsByClassName('modal')[0];
                modal.style.display = "none";
                document.location.href="http://serveurptb:8000/billet/ptb/new";
                  
              });

        }
        
      }
    }
    
    xhttp.open("POST","/addGuichetPtb",true);
    xhttp.responseType = "json";
    let parm = `${code}+${nom}+${lieu}`;
    xhttp.send(parm);  
  }
  return false;

});  
</script>
