{% extends 'base.html.twig' %}

{% block title %}BilletPtb index{% endblock %}

{% block body %}
<<<<<<< HEAD

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form>
        <div class="form-group">
            <label for="email">Nombre de billet a imprimer</label>
            <input type="number" class="form-control" id="nbreprint">
        </div>
        <!--Material textarea-->
        <div class="md-form" style="display:none;">
            <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
            <label for="form7">Motif</label>
        </div>
        
    </form>
    <button  id="submit" onclick="print2()" class="btn btn-primary">Submit</button>
  </div>

</div>
    <h1>BilletPtb index</h1>
    <script>
         idb=0;
        function print(id)
        {
            idb=id;
            
var modal = document.getElementById('myModal');
            modal.style.display = "block";
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() 
            {
                modal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) 
            {
                if (event.target == modal) 
                {
                    modal.style.display = "none";
                }
            }
        }
        function print2()
        {
            var nbreprint = document.getElementById("nbreprint").value;
            //parseInt(nbreprint, 10);
            //alert("sss");
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
            document.location.href = "http://localhost:8000/blogs/"+idb+"/"+nbreprint;

        }
        
    </script>
=======
    <h1>BilletPtb index</h1>

>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
<<<<<<< HEAD
                <th>Section</th>
                <th>Depart</th>
                <th>Arrivée</th>
                <th>Prix</th>
                <th>guichet</th>
                <th>NumeroDepart</th>
=======
                <th>NumeroDernierBillets</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billet_ptb in billet_ptbs %}
            <tr>
                <td>{{ billet_ptb.id }}</td>
<<<<<<< HEAD
                <td>{{ billet_ptb.ptb.section.libelle }}</td>
                <td>{{ billet_ptb.ptb.trajet.depart.libelle }}</td>
                <td>{{ billet_ptb.ptb.trajet.arrivee.libelle }}</td>
                <td>{{ billet_ptb.ptb.section.prix }}</td>
                <td>{{ billet_ptb.guichet.nom }}</td>
                <td>{{billet_ptb.numeroDernierBillets}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('billet_ptb_show', {'id': billet_ptb.id}) }}">show</a>
                    <a class="btn btn-warning" id="myBBtn" href="#" onclick="print({{ billet_ptb.id }})">Imprimer</a>
=======
                <td>{{ billet_ptb.numeroDernierBillets }}</td>
                <td>{{ billet_ptb.createdAt ? billet_ptb.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ billet_ptb.updateAt ? billet_ptb.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{{ path('billet_ptb_show', {'id': billet_ptb.id}) }}">voir</a>
                    <a class="btn btn-info" role="button" href="{{ path('billet_ptb_edit', {'id': billet_ptb.id}) }}">modifier</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<<<<<<< HEAD
    <a href="{{ path('billet_ptb_new') }}">Create new</a>
=======
    <a class="btn btn-info" role="button" href="{{ path('billet_ptb_new') }}">nouveau</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
{% endblock %}
