{% extends 'base.html.twig' %}

{% block title %}BilletPtb{% endblock %}

{% block body %}
    <h1>BilletPtb</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billet_ptb.id }}</td>
            </tr>
            <tr>
                <th>NumeroDernierBillets</th>
                <td>{{ billet_ptb.numeroDernierBillets }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ billet_ptb.createdAt ? billet_ptb.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ billet_ptb.updateAt ? billet_ptb.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

<<<<<<< HEAD
    <a href="{{ path('billet_ptb_index') }}">back to list</a>

    <a href="{{ path('billet_ptb_edit', {'id': billet_ptb.id}) }}">edit</a>
=======
    <a class="btn btn-info" role="button" href="{{ path('billet_ptb_index') }}">retour a la liste</a>

    <a class="btn btn-info" role="button" href="{{ path('billet_ptb_edit', {'id': billet_ptb.id}) }}">modifier</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83

    {{ include('billet_ptb/_delete_form.html.twig') }}
{% endblock %}
