{% extends 'base.html.twig' %}

{% block title %}BilletEvent index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('evenement/app.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('evenement/app.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}

{% block body %}
    <div id="billet_refresh_table" style="display: none"></div>
<div class="box box-default">
        <div class="box-header with-border">
        <div class="col-sm-6">
                    <a id="btnAddBilletEvent" class="btn btn-primary" href="#"><i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter un billet</a>
                <div id="billet">
                    <div class="bordure">
                        {{ include('billet_event/_form_modal.html.twig') }}
                    </div>
                </div>                
    </div>
            <div class="col-md-6 text-right">
    <h4><i class="fa fa-list"></i>&nbsp;<big>Liste des Billets Evenements</big>&nbsp;&nbsp;</h4>
    </div>    
    </div>
        <!-- /.box-body -->
    </div>
    {% if success is defined %}
        <div class="panel panel-success">
            {{ success }}
        </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
            <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">Liste des billets d'evenements</h1>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Départ</th>
                        <th>Arrivée</th>
                        <th>Guichet</th>
                        <th>Evenement</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for billet_event in billet_events %}
                        <tr>
                            <td>{{ billet_event.id }}</td>
                            <td>{{ billet_event.trajet.depart }}</td>
                            <td>{{ billet_event.trajet.arrivee }}</td>
                            <td>{{ billet_event.guichet.nom }}</td>
                            <td>{{ billet_event.trajet.evenement.libelle }}</td>
                            <td>
                                <a class="btn btn-info" role="button" href="{{ path('billet_event_show', {'id': billet_event.id}) }}"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Voir</a>
                                <a class="btn btn-warning" href="{{ path('billet_event_edit', {'id': billet_event.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Modifier</a>
                                <a class="btn btn-success" class="btn btn-primary" href="#"><i class="glyphicon glyphicon-print"></i>&nbsp;Imprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('evenement_index') }}">Liste des evenements</a>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
