{% extends 'base.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}
 <div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-list"></i>&nbsp;<big>Liste des Abonnés</big></h4>
          </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-info" href="{{ path('abonnement_new') }}"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nouveau Abonné</a>
            </div>
          </div>
          <!-- /.box-body -->
        </div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">Liste des Abonnés</h1>
            </div>
            <div class="box-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Type d'abonnement</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.nom }}</td>
                <td>{{ abonnement.prenom }}</td>
                <td>{{ abonnement.adresse }}</td>
                <td>{{ abonnement.telephone }}</td>
                <td>{{ abonnement.type }}</td>
                <td>{{ abonnement.type.prix }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{{ path('abonnement_show', {'id': abonnement.id}) }}"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;show</a>
                    <a class="btn btn-warning" role="button" href="{{ path('abonnement_edit', {'id': abonnement.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
        </div>
    </div>
</div>
{% endblock %}
