{% extends 'base.html.twig' %}

{% block title %}Hello DestinateurController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <link rel="stylesheet" href="{{ asset('evenement/select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}
{% block javascripts %}
    <script>
        function bloquer(email) {
            console.log(email);
            $.ajax({
                url: '/destinateur/bloquer',
                type: 'post',
                data: {email: email},
                dataType: 'json',
                success: function (data) {
                    switch (data.status) {
                        case 'error':
                            swal("Erreur", data.message, "error");
                            break;
                        case 'success':
                            console.log(data.message);
                            swal("SUCCES", data.message, "success");
                            $('.table').load('http://localhost:8000/destinateur .table');
                            break;
                        default:
                            swal("Erreur", data.message, "error");
                    }
                },
                error: function (error) {
                    alert('Erreur ' + error);
                }
            });
            return false;
        }
        function supprimer(email) {
            console.log(email);
            $.ajax({
                url: '/destinateur/supprimer',
                type: 'post',
                data: {email: email},
                dataType: 'json',
                success: function (data) {
                    switch (data.status) {
                        case 'error':
                            swal("Erreur", data.message, "error");
                            break;
                        case 'success':
                            console.log(data.message);
                            swal("SUCCES", data.message, "success");
                            $('.table').load('http://localhost:8000/destinateur .table');
                            break;
                        default:
                            swal("Erreur", data.message, "error");
                    }
                },
                error: function (error) {
                    alert('Erreur ' + error);
                }
            });
            return false;
        }
    </script>
    <script src="{{ asset('mail/app.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="formulaire">
            <form action="/destinateur/add/mail" class="form" method="post">
                <div class="form-group">
                    <label for="selUser">Processus utilisateur</label>
                    <select multiple class="form-control" id="selUser">
                        {% for u in utilisateur %}
                            <option>{{ u.nom }} {{ u.prenom }} {{ u.email }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selCommande">Processus de commande</label>
                    <select multiple class="form-control" id="selCommande">
                        {% for u in utilisateur %}
                            <option>{{ u.nom }} {{ u.prenom }} {{ u.email }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selImpression">Processus d'impression</label>
                    <select multiple class="form-control" id="selImpression">
                        {% for u in utilisateur %}
                            <option>{{ u.nom }} {{ u.prenom }} {{ u.email }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <div style="margin-top: 30px;" class="container">
        <div class="tableau">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Processus</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for destinateur in destinateurs %}
                <tr>
                    <td>{{ destinateur.nom }}</td>
                    <td>{{ destinateur.prenom }}</td>
                    <td>{{ destinateur.email }}</td>
                    <td>{{ destinateur.processus }}</td>
                    {% if destinateur.active %}
                        <td><a onclick="bloquer('{{ destinateur.email }}');" class="btn btn-warning" href="#">Bloquer</a></td>
                    {% else %}
                        <td><a onclick="bloquer('{{ destinateur.email }}');" class="btn btn-primary" href="#">Activer</a></td>
                    {% endif %}
                    <td><a onclick="supprimer('{{ destinateur.email }}')" class="btn btn-danger" href="#">Supprimer</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
