<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
{{ form_start(form) }}
    {{ form_row(form.libelle, {attr : {'placeholder': "Exemple: Section 1"}}) }}
    {{ form_row(form.prix, {attr : {'placeholder': "Exemple: 200 "}}) }}
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
