{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}

<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('section_index') }}"><i class="fa fa-list"></i>&nbsp;<big>Liste des Sections</big></a>&nbsp;
            <a class="btn btn-warning" role="button" href="{{ path('section_edit', {'id': section.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;<big>Modifier</big></a>
          </div>
          </div>
          <!-- /.box-body -->
        </div>
    <!--h1>Section</h1-->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Information de la section {{section.libelle}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ section.id }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ section.libelle }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ section.prix }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ section.createdAt ? section.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de modification</th>
                    <td>{{ section.updatedAt ? section.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    {{ include('section/_delete_form.html.twig') }}
{% endblock %}
