{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}

<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('section_index') }}">Retour</a>
          </div>
          <!-- /.box-body -->
        </div>
    <!--h1>Section</h1-->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Information de la section {{section.libelle}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ section.id }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ section.libelle }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ section.prix }}</td>
                </tr>
                <tr>
                    <th>Date de creation</th>
                    <td>{{ section.createdAt ? section.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de modification</th>
                    <td>{{ section.updatedAt ? section.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <a class="btn btn-info" role="button" href="{{ path('section_edit', {'id': section.id}) }}">modifier</a>

    {{ include('section/_delete_form.html.twig') }}
{% endblock %}
