{% extends 'base.html.twig' %}

{% block title %}Evènement{% endblock %}

{% block body %}
<h1><big> Gestion des évènements </big></h1>
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="col-md-6">
               
            </div>
            <div class="col-md-6 text-right">
                <a href="{{ path('evenement_index') }}" class="btn btn-info"><i class="fa fa-list"></i> <big> Lister les Evènements</big></a>
                <a class="btn btn-warning" role="button" href="{{ path('evenement_edit', {'id': evenement.id}) }}"><i class="glyphicon glyphicon-pencil"></i> <big>Modifier</big></a>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Informaion sur l'évènement {{evenement.libelle}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    <table class="table table-bordered">
        <tbody>            
            <tr>
                <th>Evènement</th>
                <td>{{ evenement.libelle }}</td>
            </tr>
            <tr>
                <th>Date Evènement</th>
                <td>{{ evenement.dateEvent ? evenement.dateEvent|localizeddate('none', 'none', null, null, 'EEEE d MMMM y à HH:mm:ss') }}</td>
            </tr>
            <tr>
                <th>Fin Evènement</th>
                <td>{{ evenement.finEvent ? evenement.finEvent|localizeddate('none', 'none', null, null, 'EEEE d MMMM y à HH:mm:ss') }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ evenement.createdAt ? evenement.createdAt|localizeddate('none', 'none', null, null, 'EEEE d MMMM y à HH:mm:ss') }}</td>
            </tr>
            <tr>
                <th>Mise à jour</th>
                <td>{{ evenement.UpdatedAt ? evenement.UpdatedAt|localizeddate('none', 'none', null, null, 'EEEE d MMMM y à HH:mm:ss') }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
