{% extends 'base.html.twig' %}

{% block title %}Tracabilite index{% endblock %}

{% block body %}
    <h1>Tracabilite index</h1>
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h1 class="box-title">Liste des tracabilites</h1>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>userName</th>
                <th>Type</th>
                <th>Motif</th>
                <th>NumDepart</th>
                <th>NumFin</th>
                <th>Jour</th>
                <th>Mois</th>
                <th>Année</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tracabilite in tracabilites %}
            <tr>
                <td>{{ tracabilite.id }}</td>
                <td>{{ tracabilite.user.userName}}</td>
                <td>{{ tracabilite.type }}</td>
                <td>{{ tracabilite.motif }}</td>
                <td>{{ tracabilite.numDepart }}</td>
                <td>{{ tracabilite.numFin }}</td>
                <td>{{ tracabilite.createdAt ? tracabilite.createdAt|date('d') : '' }}</td>
                <td>{{ tracabilite.createdAt ? tracabilite.createdAt|date('m') : '' }}</td>
                <td>{{ tracabilite.createdAt ? tracabilite.createdAt|date('Y') : '' }}</td>
                <td>
                    <a class="btn btn-info" role="button"  href="{{ path('tracabilite_show', {'id': tracabilite.id}) }}">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
             </div>
        </div>
    </div>
</div>
{% endblock %}
