{% extends 'base.html.twig' %}

{% block title %}BilletTaxe{% endblock %}

{% block body %}
    <div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><big>Information sur le Taxe</big></h4>
          </div>
            <div class="col-md-6 text-right">
            <a class="btn btn-primary pull-right" href="{{ path('billet_taxe_index2') }}"><i class="fa fa-list"></i>  Liste Taxe</a>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Information sur le taxe</h3>
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billet_taxe.id }}</td>
            </tr>
            <tr>
                <th>Numero Dernier Billet</th>
                <td>{{ billet_taxe.numeroDernierBillet }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ billet_taxe.prix }}</td>
            </tr>
            <tr>
                <th>Date de Création</th>
                <td>{{ billet_taxe.createdAt ? billet_taxe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dernière Modification</th>
                <td>{{ billet_taxe.updatedAt ? billet_taxe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-warning" href="{{ path('billet_taxe_edit', {'id': billet_taxe.id}) }}">Modifier</a></br>
    </div>
</div

    {{ include('billet_taxe/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
<script>
  {% if error is defined %}
    swal("ERREUR", "Il y'a une contrainte d'integrité entre 'Commande taxe' et 'Billet Taxe'", "error");
    
  {% endif %}
  {% if erreur is defined %}
    swal("ERREUR", "Il y'a une contrainte d'integrité entre 'vente' et 'Billet PTB'. On ne peut pas supprimer un taxe qui a été vendu", "error");
    
  {% endif %}
  {% if erreurs is defined %}
    swal("ERREUR", "Il y'a une contrainte d'integrité entre 'stock' et 'Billet taxe'", "error");
    
  {% endif %}
</script>
{% endblock %}
