<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<!-- The Modal -->
<div id="myModal" class="modal" style="display: none;">
<div class="modal-dialog modal-sm-20 ">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"><span class="close" style="color: red;">&times;</span></div>

    <div class="modal-body">
      <div class="row">
        <div class="from-group">
          <label for="lib">Libelle</label>            
          <input id="libLieux" type="text" class="form-control" name="msg" placeholder="Saisir une station">
          <br>
          <button type="button" id="submit1" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
      <hr>
      <div class="form-group">
          <label for="sel1">Depart</label>
          <select class="form-control DepartId" id="sel1">
            <option id="0" selected disabled>Depart</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sel1">Arrivée</label>
          <select class="form-control ArriveeId" id="sel2">
            <option id="0" selected disabled>Arrivée</option>
          </select>
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" id="submit2" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
  </div>

</div>

<!-- The Modal -->
<div id="myModal1" class="modal" style="display: none; padding-right: 5px; border-radius: 10px">
<div class="modal-dialog modal-sm-20 ">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" style="color: red;">&times;</span>
    </div>

    <form id="enregistrer">
      <div class="modal-body">
        <div class="form-group">
          <label for=""><big>Libelle</big></label>
          <input id="lib" type="text" class="form-control" name="libSection" placeholder="Saisir un libelle">
          <label for=""><big>Prix</big></label>
          <input id="prix" type="number" class="form-control" name="prix" placeholder="Saisir un prix">
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
    </form>
  </div>
  </div>

</div>


{{ form_start(form) }}
<div class="row">
    <div class="col-xs-10">{{ form_row(form.trajet) }}</div>
    <div class="col-xs-2 cs"><a type="button" class="btn btn-warning" id="myBBtn" onclick="mode1()"><i class="glyphicon glyphicon-plus"></i></a></div>
    </div>
<div class="row">
    <div class="col-xs-10">{{ form_row(form.section) }}</div>
    <div class="col-xs-2 cs2"><a type="button" class="btn btn-warning" id="myBBtn2" onclick="mode2()"><i class="glyphicon glyphicon-plus"></i></a></div>
</div>
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

<style>
    .cs{
       position: relative;
       top: 1.55em;
       left: 2em; 
    }

    .cs2{
       position: relative;
       top: 1.55em;
       left: 2em; 
    }
</style>

 <script>
        
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementsByClassName('modal')[0];

        span.onclick = function() 
        {
          modal.style.display = "none";
        }


        /*function ajouter1()
        {
          var libelle = document.getElementById("lib").value;
          var prix = document.getElementById("prix").value;
          modal.style.display = "none";
          document.location.href = `${superLink}+/addSection/${libelle}/${prix}`;
        }*/
       /*function ajouter()
        {
          var libelle = document.getElementById("libelle").value;
          modal.style.display = "none";
          document.location.href = `${superLink}+/addLieuTrajet/${libelle}`;
          swal("Good job!", "Vous avez ajouté une gare", "success");          
        }*/

        function ajoutLieu()
        {
          var lib = document.getElementById("libLieux").value;
          modal1.style.display = "none";
          document.location.href = `${superLink}+/addLieuTrajetPtb/${lib}`;
          getJson(superLink+'/json/lieu/depart/',1);  
          getJson(superLink+'/json/lieu/arrivee/',2);
        }
        
        function mode1()
        {
          modal.style.display = "block";      
          getJson(superLink+'/json/lieu/depart',1);
          getJson(superLink+'/json/lieu/arrivee',2);     
        }
        
        function ajouter2(){
          var depart = document.getElementById("sel1").value;
          var arrivee = document.getElementById("sel2").value;
          modal1.style.display = "none";
          document.location.href = `${superLink}+/addTrajetNavette/${depart}/${arrivee}`;          
        }

        
        var span1 = document.getElementsByClassName("close")[1];
        var modal1 = document.getElementsByClassName('modal')[1];
        
        span1.onclick = function() 
        {
            modal1.style.display = "none";
        }

        
        /*function ajouter(){
          var libelle = document.getElementById("libelle").value;
          modal1.style.display = "none";
          document.location.href = `${superLink}+/addLieuTrajet/${libelle}`;
          swal("Good job!", "Vous avez ajouté une gare", "success");
          
        }*/
        
        function mode2()
        {
          modal1.style.display = "block";       
        }

        window.onclick = function(event) 
        {            
          modal.style.display = "none";
          modal1.style.display = "none";
        }

             /* ----------------Remplire Combo----------------- */

const combLieuxDepart = document.getElementById('sel1');
const combLieuxArrivee = document.getElementById('sel2');
      

function getJson(link,id)
{
  let xhttp=new XMLHttpRequest();
  
  xhttp.onreadystatechange = function()
  {
    if(this.readyState == 4 && this.status == 200)
    {
      let response = JSON.parse(xhttp.responseText);
      
      switch(id){
        case 1:
          setLieuxDepart(response);
          break;
        case 2:
          setLieuxArrivee(response);
          break;
      }
    }
  }
  
  xhttp.open("GET",link,true);
  xhttp.send();

}         


function setLieuxDepart(array)
{
  while (combLieuxDepart.firstChild) 
  {
      combLieuxDepart.removeChild(combLieuxDepart.firstChild);
  }
  for(let i=0; i<array.length; i++){
    let option=document.createElement('option');
    option.id = `${array[i].id}`;
    let t = document.createTextNode(`${array[i].libelle}`);
    option.appendChild(t);
    combLieuxDepart.appendChild(option);
  }
}

function setLieuxArrivee(array)
{
  while (combLieuxArrivee.firstChild) 
  {
      combLieuxArrivee.removeChild(combLieuxArrivee.firstChild);
  }
  for(let i=0; i<array.length; i++){
    let option=document.createElement('option');
    option.id = `${array[i].id}`;
    let t = document.createTextNode(`${array[i].libelle}`);
    option.appendChild(t);
    combLieuxArrivee.appendChild(option);
  }
}

//-----------------------Traitement du Modal Section--------------------------//

document.getElementById("enregistrer").addEventListener("submit", function(e){
  e.preventDefault();

  //var data = new FormData(this);

  var libelle = document.getElementById("lib").value;
  var prix = document.getElementById("prix").value;

  var prix1 = parseInt(prix);
  var regex = /^[a-zA-Z0-9éèï ]+$/;

if (libelle === "" || !regex.test(libelle) || isNaN(prix1)) {
    alert("Les champs ne doivent pas être vide et ne doivent pas contenir des caractères spéciaux !!");
  }
  else if (prix1 < 1 || prix1 > 5000) {
    alert("Le prix ne peut pas être négatif ou nul !!!");
  }
  else{
    let xhttp=new XMLHttpRequest();
    
    xhttp.onreadystatechange = function()
    {
      if(this.readyState == 4 && this.status == 200)
      {
        let response = JSON.parse(xhttp.response);
        console.log(response);
        
        if(response){
          swal({
          title: "Succès",
          text: "Une section a été ajoutée",
          icon: "success",
          
          })
              .then((value) => {
                var modal1 = document.getElementsByClassName('modal')[1];
                modal1.style.display = "none";
                  document.location.href=superLink+"/ptb/new";
                  
              });

        }else{
          swal({
          title: "Erreur",
          text: "Cette section existe déjà ",
          icon: "error",
          
          })
              .then((value) => {
                var modal1 = document.getElementsByClassName('modal')[1];
                modal1.style.display = "block";
                  
              });

        }
        
      }
    }
    
    xhttp.open("POST","http://serveurptb:81/iBillet/public/addSection",true);
    xhttp.responseType = "json";
    let parm = `${libelle}+${prix}`;
    xhttp.send(parm); 
  } 

  return false;
});


//----------------Traitement du modal Trajet----------------------//

document.getElementById("submit2").addEventListener("click", function(e){
  e.preventDefault();

var depart = document.getElementById("sel1");
depart = depart.options[depart.selectedIndex].id;

var arrivee = document.getElementById("sel2");
 arrivee = arrivee.options[arrivee.selectedIndex].id;

 if (depart === arrivee) {
   swal({
        title: "Attention",
        text: "Le lieu de départ doit être différent du lieu d'arrivé ",
        icon: "warning",
        
        })
            .then((value) => {
              var modal1 = document.getElementsByClassName('modal')[1];
              modal1.style.display = "block";
                
            });

 }else{

let xhttp=new XMLHttpRequest();
  
  xhttp.onreadystatechange = function()
  {
    if(this.readyState == 4 && this.status == 200)
    {
      let response = JSON.parse(xhttp.response);
      console.log(response);
      
      if(response){
        swal({
        title: "Succès",
        text: "Un trajet a été ajouté",
        icon: "success",
        
        })
            .then((value) => {
              var modal1 = document.getElementsByClassName('modal')[1];
              modal1.style.display = "none";
                document.location.href=superLink+"/ptb/new";
                
            });

      }
      else {
      swal({
        title: "Erreur",
        text: "Ce trajet existe déjà",
        icon: "error",
        
        })
            .then((value) => {
              var modal1 = document.getElementsByClassName('modal')[1];
              modal1.style.display = "block";
                
            });
      }
      
    }
  }
  
  xhttp.open("POST","http://serveurptb:81/iBillet/public/addTrajetNavette",true);
  xhttp.responseType = "json";
  let parm = `${depart}+${arrivee}`;
  xhttp.send(parm);  
}
  return false;

});

////----Ajouter Lieux
document.getElementById("submit1").addEventListener("click", function(e){
  e.preventDefault();

  var lib = document.getElementById("libLieux").value;

  var regex = /^[a-zA-Z0-9éèïî ]+$/;

if (lib === "" || !regex.test(lib)) {
    alert("Le champ ne doit pas être vide et ne doit pas contenir des caractères spéciaux !!");
  }
  else{

    let xhttp=new XMLHttpRequest();
    
    xhttp.onreadystatechange = function()
    {
      if(this.readyState == 4 && this.status == 200)
      {
        let response = JSON.parse(xhttp.response);
        console.log(response);
        
        if(response){
          swal({
          title: "Succès",
          text: "Une station a été ajoutée",
          icon: "success",
          
          })
              .then((value) => {
                var modal = document.getElementsByClassName('modal')[0];
                modal.style.display = "block";
                // document.location.href=superLink+"/ptb/new";
                getJson(superLink+'/json/lieu/depart',1);
                getJson(superLink+'/json/lieu/arrivee',2);
                document.getElementById("libLieux").innerHTML = " ";
                  
              });

        }
        else
        {
          swal({
          title: "Erreur",
          text: "Cette station existe déjà ",
          icon: "error",
          
          })
              .then((value) => {
                var modal = document.getElementsByClassName('modal')[0];
                modal.style.display = "block";
                document.getElementById("libLieux").innerHTML = " ";
                  
              });
        }
        
      }
    }
    
    xhttp.open("POST","http://serveurptb:81/iBillet/public/addLieuTrajetNavette",true);
    xhttp.responseType = "json";
    let parm = `${lib}`;
    xhttp.send(parm);  
  }
  return false;


}); 
</script> 