
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"><span class="close" style="color: red;">&times;</span></div>

    <div class="modal-body">
      <div class="form-group">
        <label for="sel1">Depart</label>
        <select class="form-control" id="sel1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel1">Arrivée</label>
        <select class="form-control" id="sel1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
  

</div>

<!-- The Modal -->
<div id="myModal1" class="modal" style="display: none; padding-right: 5px; border-radius: 10px">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" style="color: red;">&times;</span>
    </div>

    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-addon"><big>Libelle</big></span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Saisir un libelle">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><big>Prix</big></span>
        <input id="msg" type="number" class="form-control" name="msg" placeholder="Saisir un prix">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
  

</div>


{{ form_start(form) }}
<div class="row">
    <div class="col-xs-10">{{ form_row(form.trajet) }}</div>
    <div class="col-xs-2 cs"><a type="button" class="btn btn-warning" id="myBBtn" onclick="mode()"><i class="glyphicon glyphicon-plus"></i></a></div>
    </div>
<div class="row">
    <div class="col-xs-10">{{ form_row(form.section) }}</div>
    <div class="col-xs-2 cs2"><a type="button" class="btn btn-warning" id="myBBtn2" onclick="mode2()"><i class="glyphicon glyphicon-plus"></i></a></div>
</div>
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

<style>
    .cs{
       position: relative;
       top: 1.55em;
       left: 2em; 
    }

    .cs2{
       position: relative;
       top: 1.55em;
       left: 2em; 
    }
</style>

 <script>
        
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementsByClassName('modal')[0];

        span.onclick = function() 
        {
          modal.style.display = "none";
        }

       function ajouter()
        {
          var libelle = document.getElementById("libelle").value;
          modal.style.display = "none";
          document.location.href = `http://localhost:8000/addLieuTrajet/${libelle}`;
          swal("Good job!", "Vous avez ajouté une gare", "success");          
        }
        
        function mode()
        {
          modal.style.display = "block";          
        }
        
        

        
        var span1 = document.getElementsByClassName("close")[1];
        var modal1 = document.getElementsByClassName('modal')[1];
        
        span1.onclick = function() 
        {
            modal1.style.display = "none";
        }

        
        /*function ajouter(){
          var libelle = document.getElementById("libelle").value;
          modal1.style.display = "none";
          document.location.href = `http://localhost:8000/addLieuTrajet/${libelle}`;
          swal("Good job!", "Vous avez ajouté une gare", "success");
          
        }*/
        
        function mode2()
        {
          modal1.style.display = "block";          
        }

         window.onclick = function(event) 
        {            
          modal.style.display = "none";
          modal1.style.display = "none";
        }
        
        
</script>