{% extends 'base.html.twig' %}

{% block title %}Ptb index{% endblock %}

{% block body %}
    <h1>Ptb index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ptb in ptbs %}
            <tr>
                <td>{{ ptb.id }}</td>
                <td>{{ ptb.createdAt ? ptb.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ptb.updatedAt ? ptb.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{{ path('ptb_show', {'id': ptb.id}) }}">Voir</a>
                    <a class="btn btn-info" role="button" href="{{ path('ptb_edit', {'id': ptb.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" role="button" href="{{ path('ptb_new') }}">nouveau</a>
{% endblock %}
