<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Impression</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<Style>
    .page
    {
        display: grid;
        grid-template-columns: repeat(4, 190px);
        grid-template-rows: repeat(5, 200px);
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        position:relative;
        top :45px;
        width: 100%;
        grid-row-gap:20px;
        /*overflow: auto;*/
        /*page-break-after: always;*/
        
    }

    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0px;  /* this affects the margin in the printer settings */
        margin-bottom:20px;
    }
    .billet
    {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        background-image: url('{{ asset('img/backbillet3.png') }}');
        line-height:0.5px; 
        opacity: 0.85;
        
        
    }
    
   .main
    {
        display: block;
        -webkit-print-color-adjust: exact;
       position: absolute;
        
        left: 40px;
        right: 20px;
        width :100%;
    }
     @media print 
  {
      .page
      {
        overflow: auto;
        page-break-after: always;
        page-break-inside: Avoid;
      }
  }
   
</style>
<body style="width: 100%;">
    
    <div class="main" style="background-color:#{{color}};">
        {% set myVal = 0 %}
        {% for i in nbrebillet %}
            {% if myVal == 0 %}
            <div class="page">
            {% endif %}
            <div class="billet">
                <h3>N : {{i}}</h3>
                <h3>autorail{{ date ? date|date('m/Y ') : '' }}</h3>
                <h3>{{billet.guichet.nom }}</h3>
                <h5>Aller simple</h5>
                <h5>Départ:{{billet.navette.trajet.depart.libelle}}</h5>
                <h5>Arrivée:{{billet.navette.trajet.arrivee.libelle}}</h5>
                <h5>{{billet.navette.classe.libelle}}</h5>
                <h5>Tarif: {{billet.navette.prix}}Fcfa</h5>
                <h3>***Senegal***</h3>
            </div>
            {% set myVal = myVal + 1 %}
            {% if myVal == 20 %}
                </div>
                {% set myVal = 0 %}
            {% endif %}
        {% endfor %}
    </div>
    
</body>
</html>
<script>
    
    //var main = document.getElementById('main');
    /*main.style.backgroundColor="#"{{color}};*/
    window.print();
    window.onafterprint = 
    function(event) 
    { 
       //document.location.href = "http://localhost:8000/billet/navette/";

    };
</script>
