{% extends 'base.html.twig' %}

{% block title %}CommandeNavette{% endblock %}

{% block body %}
     <div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-list"></i>&nbsp;<big>Commande Navette</big></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('commande_navette_lister') }}"><i class="fa fa-list"></i>&nbsp; Lister Commande Navette</a>
          </div>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Information de la Commande</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande_navette.id }}</td>
            </tr>
            <tr>
                <th>Nombre Billet</th>
                <td>{{ commande_navette.nombreBillet }}</td>
            </tr>
            <tr>
                <th>Etat Commande</th>
                <td>{{ commande_navette.etatCommande }}</td>
            </tr>
            <tr>
                <th>Date Commande</th>
                <td>{{ commande_navette.dateCommande ? commande_navette.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Comnande Validée</th>
                <td>{{ commande_navette.dateComnandeValider ? commande_navette.dateComnandeValider|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Commande Réalisée</th>
                <td>{{ commande_navette.dateCommandeRealiser ? commande_navette.dateCommandeRealiser|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre Billet Vendu</th>
                <td>{{ commande_navette.nombreBilletVendu }}</td>
            </tr>
            <tr>
                <th>Nombre Billet Réalisée</th>
                <td>{{ commande_navette.nombreBilletRealise }}</td>
            </tr>
            <tr>
                <th>Date de Création</th>
                <td>{{ commande_navette.createdAt ? commande_navette.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour</th>
                <td>{{ commande_navette.updatedAt ? commande_navette.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('commande_navette_modifiernonvalider', {'id': commande_navette.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Modifier</a></br>
</div>
</div>

    {{ include('commande_navette/_delete_form.html.twig') }}
{% endblock %}
