<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PTB</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{{ asset('bower_components/jvectormap/jquery-jvectormap.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
{% block stylesheets %}{% endblock %}
<style>
#myModa {
  position: absolute;
  width: 250px;
  height: 50px;
  text-align:center;
  background-color: transparent;
  text-align: center;
  color: white;
  left: 0;
  -webkit-animation: mymove 0s infinite; /* Chrome, Safari, Opera */
  animation: mymove 20s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {left: 800px;}
  50% {box-shadow: 15px 20px 30px blue;}
}

/* Standard syntax */
@keyframes mymove {
  50% {left: 800px;}
  50% {box-shadow: 15px 20px 30px blue;}
}
</style>
<style>
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 100px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
@media print {
  #dd {page-break-after: always;}
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <a href="{{ path('home') }}" class="logo">
    <span class="logo-mini"><b>P</b>TB</span>
      <!-- logo for regular state and mobile devices -->
     <span class="logo-lg">Billetterie <b>PTB</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if app.user.filename == "null" %}
                  <img src="{{asset('img/userlogin.jpg')}}" class="user-image" alt="User Image">
                  
                  {% else %}
              <img class="user-image" src="{{asset('clients/images/')}}{{app.user.filename}}" onclick="" alt="User profile picture">
              {% endif %}              

              <span class="hidden-xs">{{ app.user.username|capitalize}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
              {% if app.user.filename == "null" %}
                  <img src="{{asset('img/userlogin.jpg')}}" class="img-circle" alt="User Image">
                  {% else %}
              <img class="img-circle" src="{{asset('clients/images/')}}{{app.user.filename}}" onclick="" alt="User profile picture">
              {% endif %}                
                <p>
                  {{ app.user.username|capitalize }}</br>
                  {{ app.user.roles ? app.user.roles[0]|slice(5)|capitalize|replace({"_": ' '}) }}

                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path('user_show', {'id': app.user.id}) }}" class="btn btn-primary btn-flat"><i class="glyphicon glyphicon-user"></i>&nbsp;Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('security_logout') }}" class="btn btn-danger btn-flat"><i class="glyphicon glyphicon-off"></i>&nbsp;Deconnexion</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

    <div class="user-panel">
        <div class="pull-left image">
        {% if app.user.filename == "null" %}
            <img src="{{asset('img/userlogin.jpg')}}" class="img-circle" alt="User Image">
        {% else %}
              <img class="img-circle" src="{{asset('clients/images/')}}{{app.user.filename}}" onclick="" alt="User profile picture">
        {% endif %}
        <!--img src="{{asset('clients/images/')}}{{app.user.filename}}" class="img-circle" alt="User Image"-->
        </div>
        <div class="pull-left info">
          <p>{{ app.user.username|capitalize }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> En ligne</a>
        </div>
      </div>

      <!-- Sidebar user panel -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <h1></h1>
        <li>
          <a active href="{{ path('home') }}">
            <i class="fa fa-dashboard"></i>
            <span>Tableau de Bord</span>
          </a>
        </li>
        <!--== false-->
         {% if is_granted('ROLE_BILLETTEUR') %}
        <li class="treeview">
          <a href="#">
            <i class="glyphicon glyphicon-text-background"></i>
            <span>Abonnement</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right fa-spin"></i>
            </span>          
          </a> 
          <ul class="treeview-menu">
            <li><a href="{{ path('abonnement_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li> 
            <li><a href="{{ path('type_index') }}"><i class="fa fa-circle-o"></i>Type</a></li>            
            <li><a href="{{ path('abonnement_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>            
          </ul>       
        </li>
          
            <li>
              <a href="{{ path('billet_ptb_index') }}"><i class="fa fa-train"></i><span>Billet PTB</span></a>
            </li>          
            <li>
              <a href="{{ path('billet_navette_index') }}"><i class="fa fa-subway"></i><span>Billet Autorail</span></a>
            </li>
            <li><a href="{{ path('billet_taxe_index') }}"><i class="fa fa-credit-card"></i><span>Taxe</span></a></li>            
            <li>
              <a href="{{ path('billet_ptb_index') }}"><i class="glyphicon glyphicon-calendar"></i><span>Evenement</span></a>
            </li>
            <li>
              <a href="{{ path('vignette_index') }}"><i class="fa fa-cc-mastercard"></i><span>&nbsp;Vignette</span></a>
            </li>
          <!--/ul>
        </li-->        
          <ul class="treeview-menu">
            <li><a href="{{ path('billet_ptb_index') }}"><i class="fa fa-circle-o"></i>PTB</a></li>
            <li><a href="{{ path('billet_navette_index') }}"><i class="fa fa-circle-o"></i>Autorail</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Taxe</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cart-arrow-down"></i>
            <span>Commande</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('commande_ptb_imprimer') }}"><i class="fa fa-circle-o"></i>PTB</a></li>          
            <li><a href="{{ path('commande_navette_imprimer') }}"><i class="fa fa-circle-o"></i>Autorail</a></li>
            <li><a href="{{ path('commande_taxe_imprimer') }}"><i class="fa fa-circle-o"></i>Taxe</a></li>
            <li><a href="{{ path('commande_vignette_imprimer') }}"><i class="fa fa-circle-o"></i>Vignette</a></li>
            <li><a href="{{ path('commande_navette_imprimer') }}"><i class="fa fa-circle-o"></i>Evenement</a></li>                        
          </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_RESPONSABLE_DE_VENTE') or is_granted('ROLE_VALIDATEUR') or is_granted('ROLE_SUPERVISEUR') %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-train"></i>
            <span>Commande PTB</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if is_granted('ROLE_RESPONSABLE_DE_VENTE') %}          
            <li><a href="{{ path('commande_ptb_index') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
            <li><a href="{{ path('commande_ptb_vente') }}"><i class="fa fa-circle-o"></i>Vente</a></li>                     
            <li><a href="{{ path('commande_ptb_suivi') }}"><i class="fa fa-circle-o"></i>Lister</a></li> 
            {% endif %}  
            {% if is_granted('ROLE_VALIDATEUR') or is_granted('ROLE_SUPERVISEUR') %} 
            <li><a href="{{ path('commande_ptb_valider') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
            {% endif %}                                              
          </ul>         
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-subway"></i>
            <span>Commande Autorail</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          {% if is_granted('ROLE_RESPONSABLE_DE_VENTE') %}           
            <li><a href="{{ path('commande_navette') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
            <li><a href="{{ path('commande_navette_vente') }}"><i class="fa fa-circle-o"></i>Vente</a></li>
            <li><a href="{{ path('commande_navette_suivi') }}"><i class="fa fa-circle-o"></i>Lister</a></li>                                     
          {% endif %}
          {% if is_granted('ROLE_VALIDATEUR') or is_granted('ROLE_SUPERVISEUR') %} 
            <li><a href="{{ path('commande_navette_valider') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
            {% endif %}                 
          </ul>         
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-credit-card"></i>
            <span>Commande Taxe</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if is_granted('ROLE_RESPONSABLE_DE_VENTE')  %}        
            <li><a href="{{ path('commande_taxe') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li> 
            <li><a href="{{ path('commande_taxe_vente') }}"><i class="fa fa-circle-o"></i>Vente</a></li> 
            <li><a href="{{ path('commande_taxe_suivi') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
            {% endif %}
            {% if is_granted('ROLE_VALIDATEUR') or is_granted('ROLE_SUPERVISEUR') %} 
            <li><a href="{{ path('commande_taxe_valider') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
            {% endif %}                                                   
          </ul>         
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cc-mastercard"></i>
            <span>Commande Vignette</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if is_granted('ROLE_RESPONSABLE_DE_VENTE') %}          
            <li><a href="{{ path('commande_vignette') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
            <li><a href="{{ path('commande_vignette_vente') }}"><i class="fa fa-circle-o"></i>Vente</a></li>
            <li><a href="{{ path('commande_vignette_suivi') }}"><i class="fa fa-circle-o"></i>Lister</a></li>                                              
            {% endif %}
            {% if is_granted('ROLE_VALIDATEUR') or is_granted('ROLE_SUPERVISEUR') %} 
            <li><a href="{{ path('commande_taxe_valider') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
            {% endif %}                      
          </ul>         
        </li>
         <li class="treeview">
              <a href="#"><i class="glyphicon glyphicon-calendar"></i><span>Evenement</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
                <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i>Commande Billet</a></li> 
                {% if is_granted('ROLE_RESPONSABLE_DE_VENTE') %}                                   
                  <li><a href="{{ path('evenement_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Vente</a></li>
                   <li><a href="{{ path('evenement_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
                  {% endif %}                                   
                </ul>
         </li>  
        {% endif %}                    
        {% if is_granted('ROLE_RESPONSABLE_DE_VENTE') or is_granted('ROLE_VALIDATEUR')  %}
        <li class="treeview">
          <a href="#">
            <i class="glyphicon glyphicon-signal"></i>
            <span>Statistique</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRATEUR') %}
        <li class="treeview">
              <a href="#"><i class="fa fa-train"></i><span>Billet PTB</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li><a href="{{ path('billet_ptb_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
                  <li><a href="{{ path('billet_ptb_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
              </ul>
        </li>
        <li class="treeview">
              <a href="#"><i class="fa fa-subway"></i><span>Billet Autorail</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li><a href="{{ path('billet_navette_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
                  <li><a href="{{ path('billet_navette_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
              </ul>
        </li>
        <li class="treeview">
              <a href="{{ path('billet_navette_new') }}"><i class="fa fa-subway"></i><span>Taxe</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li><a href="{{ path('billet_taxe_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
                  <li><a href="{{ path('billet_taxe_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
              </ul>
        </li>
        <li class="treeview">
        <a href="#">
        <i class="glyphicon glyphicon-credit-card"></i>
        <span>Guichets</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('guichet_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
            <li><a href="{{ path('guichet_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
          </ul>
        </li>
        <li class="treeview">
        <a href="#">
        <i class="glyphicon glyphicon-road"></i>
            <span>Trajets</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
         </a>
         <ul class="treeview-menu">
            <li><a href="{{ path('trajet_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
            <li><a href="{{ path('trajet_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
          </ul>
         </li>
        <li class="treeview">
        <a href="#">
        <i class="glyphicon glyphicon-map-marker"></i>
        <span>Gares</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('lieux_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>
            <li><a href="{{ path('lieux_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
          </ul>
        </li>       
        <li class="treeview">
          <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            <span>Utilisateur</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('user_new') }}"><i class="fa fa-circle-o"></i>Nouveau</a></li>            
            <li><a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li> 
          </ul>
          <li>
          <a href="{{ path('user_mail') }}">
            <i class="fa fa-envelope"></i>
            <span>Mail</span>
          </a>
        </li>                
        </li>
        <li class="treeview">
          <a href="#">
            <i class="glyphicon glyphicon-wrench"></i>
            <span>Paramètre</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview">
        <a href="#">
        <i class="glyphicon glyphicon-certificate"></i>
          <span>Classes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('classe_new') }}"><i class="fa fa-circle-o"></i>Nouvelle</a></li>
            <li><a href="{{ path('classe_index') }}"><i class="fa fa-circle-o"></i>Lister</a></li>
          </ul>
        </li>                            
            <li><a href="{{ path('navette_index') }}"><i class="fa fa-circle-o"></i>Navette</a></li>
            <li><a href="{{ path('ptb_index') }}"><i class="fa  fa-train"></i>PTB</a></li>
            <li><a href="{{ path('section_index') }}"><i class="glyphicon glyphicon-plus"></i>Section</a></li>
            <li><a href="{{ path('tracabilite_index') }}"><i class="glyphicon glyphicon-plus"></i>Audit</a></li>
          </ul>                
        </li>
        {% endif %}
        {% if is_granted('ROLE_SUPERVISEUR') %}
          <li><a href="{{ path('tracabilite_index') }}"><i class="glyphicon glyphicon-road"></i><span>&nbsp;Audit</span></a></li>                                       
        {% endif %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

 <div class="content-wrapper">
    <section class="content">
    {% for message in app.flashes('success') %}
      <div class="alert alert-success" id="myModa">
          {{mfessage}}
      </div>
    {% endfor %}
  {% block body %}{% endblock %}
    </section>
   </div>

<!-- /.content-wrapper -->

 <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
<script src="{{ asset('jslog/jscolor.js') }}"></script> 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    


<script src="{{ asset('jslog/jscolor.js') }}"></script>

<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ asset('bower_components/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
<!-- jvectormap  -->
<script src="{{ asset('plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ asset('plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ asset('bower_components/chart.js/Chart.js') }}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('dist/js/pages/dashboard2.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</body>
{% block javascripts %}{% endblock %}
</html> 
          
 
          
          

