{% extends 'base.html.twig' %}

{% block title %}Navette{% endblock %}

{% block body %}
<h1>
    <big>
        Gestion des navettes
    </big>
</h1>
<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('navette_index') }}"><i class="fa fa-list"></i>&nbsp; <big>Liste des Navettes</big></a>&nbsp;
          <a class="btn btn-warning" role="button" href="{{ path('navette_edit', {'id': navette.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;<big>Modifier</big></a>
          </div>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Information de la navette {{ navette.trajet }}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>                
                <tr>
                    <th>Trajet</th>
                    <td>{{ navette.trajet }}</td>
                </tr>
                <tr>
                    <th>Classe</th>
                    <td>{{ navette.classe.libelle }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ navette.prix }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ navette.createdAt ? navette.createdAt|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y à HH:mm:SS') }}</td>
                </tr>
                <tr>
                    <th>Date de modification</th>
                    <td>{{ navette.updatedAt ? navette.updatedAt|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y à HH:mm:SS')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>    

    {{ include('navette/_delete_form.html.twig') }}
{% endblock %}
