{% extends 'base.html.twig' %}

{% block title %}Edit Trajet{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="{{ path('trajet_index') }}">Retour</a>
          </div>
          <!-- /.box-body -->
        </div>
<div class="box box-solid box-default">
    <div class="box-header">
        <h3 class="box-title">Modifier le trajet {{trajet.depart.libelle}}-{{trajet.arrivee.libelle}}</h3>   
    </div>
    <div class="box-body">
        {{ include('trajet/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>

    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
