{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}Trajet index{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-list"></i>&nbsp;<big>Liste des Trajets</big></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('trajet_new') }}"><i class="glyphicon glyphicon-plus"></i>&nbsp; Nouveau Trajet</a>
          </div>
          </div>
          <!-- /.box-body -->
        </div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">Liste des Trajets</h1>

                <!--div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div-->
            </div>
            <div class="box-body ">
                <table class="table table-hover table-striped dataTable" id="example1">
                    <thead>
                        <tr>
                            <th>Départ</th>
                            <th>Arrivée</th>
                            <th>Date de création</th>
                            <th>Date de modification</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for trajet in trajets %}
                        <tr>                            
                            <td>{{ trajet.depart.libelle }}</td>
                            <td>{{ trajet.arrivee.libelle }}</td>
                            <td>{{ trajet.createdAt ? trajet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ trajet.updatedAt ? trajet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>

                                <a class="btn btn-info" role="button" href="{{ path('trajet_show', {'id': trajet.id}) }}"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;voir</a>
                                <a class="btn btn-warning" role="button" href="{{ path('trajet_edit', {'id': trajet.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;modifier</a>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
    <!-- DataTables -->
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!--script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script-->
    <script>
        $(function () {
            $('#example1').DataTable({
                "reponsive": true,
                "pageLength": 10,
                "language": {
                    "decimal": "",
                    "loadingRecords": "Chargement...",
                    "processing": "En traitement...",
                    "lengthMenu": "Afficher _MENU_ entrées",
                    "zeroRecords": "Aucun enregistrements correspondants trouvés",
                    "emptyTable": "aucune donnée disponible",
                    "infoFiltered": "(filtré de _MAX_ entrées totales)",
                    "infoEmpty": "Affiche 0 à 0 sur 0 entrées",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ entrées",
                    "search": "Rechercher : ",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            })
        })
    </script>
{% endblock %}
