{% extends 'base.html.twig' %}

{% block title %}Trajet index{% endblock %}

{% block body %}
    <h1>Trajet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trajet in trajets %}
            <tr>
                <td>{{ trajet.id }}</td>
                <td>{{ trajet.createdAt ? trajet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trajet.updatedAt ? trajet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
<<<<<<< HEAD
                    <a href="{{ path('trajet_show', {'id': trajet.id}) }}">show</a>
                    <a href="{{ path('trajet_edit', {'id': trajet.id}) }}">edit</a>
=======
                    <a class="btn btn-info" role="button" href="{{ path('trajet_show', {'id': trajet.id}) }}">show</a>
                    <a class="btn btn-info" role="button" href="{{ path('trajet_edit', {'id': trajet.id}) }}">edit</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<<<<<<< HEAD
    <a href="{{ path('trajet_new') }}">Create new</a>
=======
    <a class="btn btn-info" role="button" href="{{ path('trajet_new') }}">Create new</a>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
{% endblock %}
