{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trajet.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ trajet.createdAt ? trajet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ trajet.updatedAt ? trajet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

<<<<<<< HEAD
    <a class="btn btn-info" role="button" href="{{ path('trajet_index') }}">back to list</a>

    <a class="btn btn-info" role="button" href="{{ path('trajet_edit', {'id': trajet.id}) }}">edit</a>
=======
    <a href="{{ path('trajet_index') }}">retour</a>

    <a href="{{ path('trajet_edit', {'id': trajet.id}) }}">edit</a>
>>>>>>> c78f1b554dbe737aa7d985890701381f80f1903f

    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
