{% extends 'base.html.twig' %}

{% block title %}VenteTaxe{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-list"></i>&nbsp;<big>Information sur la vente</big></h4>
          </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-info" href="{{ path('vente_taxe_index') }}"><i class="fa fa-list"></i>&nbsp; Liste Vente</a>
            </div>
          </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Information de la vente</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente_taxe.id }}</td>
            </tr>
            <tr>
                <th>Nombre De Billets vendu</th>
                <td>{{ vente_taxe.nbreDeBillet }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ vente_taxe.createAt ? vente_taxe.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dernière mise à jour</th>
                <td>{{ vente_taxe.updatedAt ? vente_taxe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('vente_taxe_edit', {'id': vente_taxe.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Modifier</a>
</div>
</div> 
    {{ include('vente_taxe/_delete_form.html.twig') }}
{% endblock %}
