{% extends 'base.html.twig' %}

{% block title %}Vignette{% endblock %}

{% block body %}
    <h1>Vignette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vignette.id }}</td>
            </tr>
            <tr>
                <th>NumeroDernierBillet</th>
                <td>{{ vignette.numeroDernierBillet }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ vignette.createdAt ? vignette.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ vignette.updatedAt ? vignette.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vignette_index') }}">back to list</a>

    <a href="{{ path('vignette_edit', {'id': vignette.id}) }}">edit</a>

    {{ include('vignette/_delete_form.html.twig') }}
{% endblock %}
