{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- CSS IMPRIMER-->
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}BilletNavette index{% endblock %}

{% block body %}
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Nombre total de billet  Commandé:<span id="total"></span></h1>
    <form>
        <div class="form-group">
            <label for="nbreprint">Nombre de billet a imprimer</label>
            <input type="number" class="form-control" id="nbreprint">
        </div>
        <div class="form-group">
            <label for="color">Couleur billet</label>
            <input class="jscolor"  id="color" class="form-control" value="fff">
        </div>
          <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="modifierdpt">
          <label class="custom-control-label" for="modifierdpt">modifier la valeur de depart</label>
        </div>
        <div class="form-group test" style="display:none;">
            <label for="nbredepart">Nombre de depart</label>
            <input type="number" class="form-control" id="nbredepart">
        </div>
        
        <div class="md-form test" style="display:none;">
            <label for="form7">Motif</label>
            <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
        </div>
        
    </form>
    <button  id="submit" onclick="print2()" class="btn btn-primary">Imprimer</button>
  </div>

</div>
    <h1>Génération de Billets Autorail</h1>
     <script>
         idb=0;
         dpt=0;
         total=0;
        function show()
        {
            var test = document.getElementsByClassName("test")[0];
            var test1 = document.getElementsByClassName("test")[1];
            test.style.display="block";
            test1.style.display="block";
            return true;
        }
        function hide()
        {
            var test = document.getElementsByClassName("test")[0];
            var test1 = document.getElementsByClassName("test")[1];
            test.style.display="none";
            test1.style.display="none";
            return true;
        }
        var checkbox = document.getElementById("modifierdpt");
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById('myModal');
        span.onclick = function() 
        {
            modal.style.display = "none";
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }
        checkbox.onclick = function() 
        {
                if(checkbox.checked)
                {
                    show();
                    return true;
                }
                else
                {
                    hide();
                    return true;
                }       
        }
        function print(id)
        {
            idb=id;
            let xhr=new XMLHttpRequest();
            xhr.onload=function ()
            {
                if(this.status == 200)
                {
                    document.getElementById('total').innerText=this.responseText;
                    total= parseInt(this.responseText);
                }
            }
            xhr.open("GET",superLink+"/totalbilletNavette/"+idb,true);
            xhr.send();
            var modal = document.getElementById('myModal');
            var td = document.getElementById('dpt'+idb);
            dpt=parseInt(td.innerHTML,10)
            modal.style.display = "block";
            var checkbox = document.getElementById("modifierdpt");
          
        }
        function print2()
        {
            var nbreprint = document.getElementById("nbreprint").value;
            var color = document.getElementById("color").value;
            var checkbox = document.getElementById("modifierdpt");
            var userid = parseInt(document.getElementById("userid").innerHTML, 10);
            var motif = "";  
            dpt = parseInt(document.getElementById('nbredepart').value, 10);
            console.log(dpt);
            if(parseInt(nbreprint)>total && !checkbox.checked)
            {
                alert("Vous essayez d'imprimer un nombre de billet superieur au nombre commandé")
            }
            else if(nbreprint === "")
            {
                alert("Veuillez renseigner le nombre de billet à imprimer");
            }
            else if(nbreprint === "")
            {
                alert("Veuillez renseigner le nombre de billet à imprimer");
            }
            else
            {
                if(checkbox.checked)
                {
                    motif = document.getElementById("form7").value;  
                    dpt = parseInt(document.getElementById('nbredepart').value, 10);
                }
                else
                {
                    motif="pas de changement";
                }
                if(checkbox.checked && motif==='')
                {
                    alert("veuillez indiquez le motif ")
                }
                else
                {
                    var modal = document.getElementById('myModal');
                    modal.style.display = "none";
                    document.location.href = `${superLink}/impressionAutorail/${idb}/${nbreprint}+${motif}+${dpt}+${userid}+${color}`;
                }
                
            }
            
            
                
                
            
            

        }
        
    </script>
    <div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4><i class="fa fa-list"></i>&nbsp;<big>Liste des Billets Autorail</big></h4>
          </div>
          <div class="col-md-6 text-right">
          {% if is_granted('ROLE_ADMINISTRATEUR') %}
            <a class="btn btn-info" href="{{ path('navette_new') }}"><i class="glyphicon glyphicon-plus"></i>&nbsp; Nouvelle Navette</a>
          {% endif %}
          </div>
          </div>
        </div>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">Liste des billets Autorail</h1>
            </div>
            <div class="box-body">
    <table class="table table-hover table-striped table-bordered" id="example1">
        <thead>
            <tr>
                <th>Classe</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Prix</th>
                <th>Guichet</th>
                <th>Numéro Départ</th>
                <th>Billets Commandés</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for billet_navette in billet_navettes %}
            <tr> 
                <td>{{ billet_navette.billet.navette.classe.libelle}}</td>
                <td>{{ billet_navette.billet.navette.trajet.depart.libelle}}</td>
                <td>{{ billet_navette.billet.navette.trajet.arrivee.libelle}}</td>
                <td>{{ billet_navette.billet.navette.prix}}</td>
                <td>{{ billet_navette.billet.guichet.nom}}</td>
                <td id="dpt{{ billet_navette.billet.id }}">{{ billet_navette.billet.numeroDernierBillet}}</td>
                <td >{{billet_navette.total}}</td>
                 <td>
                 {% if billet_navette.total == "0" %}
                    <a class="btn btn-warning" id="myBBtn" href="#" onclick="print({{ billet_navette.billet.id }})"><i class="glyphicon glyphicon-print"></i>&nbsp;Imprimer</a>
                {% else %}
                    <a class="btn btn-warning" id="myBBtn" href="#" onclick="print({{ billet_navette.billet.id }})"><i class="glyphicon glyphicon-print"></i>&nbsp;Imprimer</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>

    <div id="userid" style="display:none;">
            {{ app.user.id }}
        </div>
{% endblock %}
{% block javascripts %}
    <!-- DataTables -->
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- PDF AND CVS>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script-->

    <script>
        $(function () {
            $('#example1').DataTable({
                "reponsive": true,
                "pageLength": 10,
                "language": {
                    "decimal": "",
                    "loadingRecords": "Chargement...",
                    "processing": "En traitement...",
                    "lengthMenu": "Afficher _MENU_ entrées",
                    "zeroRecords": "Aucun enregistrements correspondants trouvés",
                    "emptyTable": "aucune donnée disponible",
                    "infoFiltered": "(filtré de _MAX_ entrées totales)",
                    "infoEmpty": "Affiche 0 à 0 sur 0 entrées",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ entrées",
                    "search": "Rechercher : ",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            })
        })
    </script>
{% endblock %}
