{% extends 'base.html.twig' %}

{% block title %}BilletNavette index{% endblock %}

{% block body %}
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form>
        <div class="form-group">
            <label for="nbreprint">Nombre de billet a imprimer</label>
            <input type="number" class="form-control" id="nbreprint">
        </div>
          <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="modifierdpt">
          <label class="custom-control-label" for="modifierdpt">modifier la valeur de depart</label>
        </div>
        <div class="form-group test" style="display:none;">
            <label for="nbredepart">Nombre de depart</label>
            <input type="number" class="form-control" id="nbredepart">
        </div>
        
        <div class="md-form test" style="display:none;">
            <label for="form7">Motif</label>
            <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
        </div>
        
    </form>
    <button  id="submit" onclick="print2()" class="btn btn-primary">Submit</button>
  </div>

</div>
    <h1>Génération de Billets Autorail</h1>
     <script>
         idb=0;
         dpt=0;
        function show()
        {
            var test = document.getElementsByClassName("test")[0];
            var test1 = document.getElementsByClassName("test")[1];
            test.style.display="block";
            test1.style.display="block";
            return true;
        }
        function hide()
        {
            var test = document.getElementsByClassName("test")[0];
            var test1 = document.getElementsByClassName("test")[1];
            test.style.display="none";
            test1.style.display="none";
            return true;
        }
        var checkbox = document.getElementById("modifierdpt");
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById('myModal');
        span.onclick = function() 
        {
            modal.style.display = "none";
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }
        checkbox.onclick = function() 
        {
                if(checkbox.checked)
                {
                    show();
                    return true;
                }
                else
                {
                    hide();
                    return true;
                }       
        }
        function print(id)
        {
            idb=id;
            
            var modal = document.getElementById('myModal');
            var td = document.getElementById('dpt'+idb);
            dpt=parseInt(td.innerHTML,10)
            modal.style.display = "block";
            var checkbox = document.getElementById("modifierdpt");
          
        }
        function print2()
        {
            alert("aaa");
            var nbreprint = document.getElementById("nbreprint").value;
            var checkbox = document.getElementById("modifierdpt");
            var userid = parseInt(document.getElementById("userid").innerHTML, 10);
            var motif = "";  
            if(checkbox.checked)
            {
                motif = document.getElementById("form7").value;  
                dpt = parseInt(document.getElementById('nbredepart').value, 10);
            }
            else
            {
                motif="pas de changement";
            }
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
            document.location.href = `http://localhost:8000/impressionAutorail/${idb}/${nbreprint}+${motif}+${dpt}+${userid}`;
            
                
                
            //document.location.href = `http://localhost:8000/impression/${idb}/${nbreprint}+${motif}+${dpt}+${userid}`;
            

        }
        
    </script>
    <div class="box box-default">
          <div class="box-header with-border">
            <a class="btn btn-info" href="#">Nouveau</a>
          </div>
          <!-- /.box-body -->
        </div>
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h1 class="box-title">Liste des lieux</h1>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Classe</th>
                <th>Depart</th>
                <th>Arrivée</th>
                <th>Prix</th>
                <th>guichet</th>
                <th>NumeroDepart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billet_navette in billet_navettes %}
            <tr>
                <td>{{ billet_navette.id }}</td> 
                <td>{{ billet_navette.navette.classe.libelle}}</td>
                <td>{{ billet_navette.navette.trajet.depart.libelle}}</td>
                <td>{{ billet_navette.navette.trajet.arrivee.libelle}}</td>
                <td>{{ billet_navette.navette.prix}}</td>
                <td>{{ billet_navette.guichet.nom}}</td>
                <td id="dpt{{ billet_navette.id }}">{{ billet_navette.numeroDernierBillet}}</td>
                 <td>
                    <a class="btn btn-warning" id="myBBtn" href="#" onclick="print({{ billet_navette.id }})">Imprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>

    <div id="userid" style="display:none;">
            {{ app.user.id }}
        </div>
{% endblock %}
