{% extends 'base.html.twig' %}

{% block title %}BilletNavette{% endblock %}

{% block body %}
    <h1>BilletNavette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billet_navette.id }}</td>
            </tr>
            <tr>
                <th>NumeroDernierBillet</th>
                <td>{{ billet_navette.numeroDernierBillet }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ billet_navette.createdAt ? billet_navette.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ billet_navette.updatedAt ? billet_navette.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('billet_navette_index') }}">back to list</a>

    <a href="{{ path('billet_navette_edit', {'id': billet_navette.id}) }}">edit</a>

    {{ include('billet_navette/_delete_form.html.twig') }}
{% endblock %}
