{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
=======
    <button class="btn">{{ button_label|default('Save') }}</button>
>>>>>>> c78f1b554dbe737aa7d985890701381f80f1903f
{{ form_end(form) }}
