{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <button class="btn">{{ button_label|default('Save') }}</button>
=======
    
    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
>>>>>>> 30cd1a1c165ebc07c54ef2ee611f269f2a59cb83
{{ form_end(form) }}
