{% extends 'base.html.twig' %}

{% block stylsheets %}
    
{% endblock %}
{% block title %}Lieux index{% endblock %}

{% block body %}
   
<!--h1>Lieux index</h1-->

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h1 class="box-title">Liste des lieux</h1>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!--th>Id</th-->
                            <th>Libelle</th>
                            <th>Date de creation</th>
                            <th>Date de modification</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lieux in lieuxes %}
                        <tr>
                            <!--td>{{ lieux.id }}</td-->
                            <td>{{ lieux.libelle }}</td>
                            <td>{{ lieux.createdAt ? lieux.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ lieux.updatedAt ? lieux.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a class="btn btn-info" role="button" href="{{ path('lieux_show', {'id': lieux.id}) }}">Voir</a>
                                <a class="btn btn-info" href="{{ path('lieux_edit', {'id': lieux.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-info" href="{{ path('lieux_new') }}">Nouveau</a>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}

{% endblock %}
