<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"><span class="close" style="color: red;">&times;</span></div>

    <form id="enregistrer">
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="nomGare"><big>Libelle</big></label>
                <input type="text"
                class="form-control" name="" id="libelle" aria-describedby="helpId" placeholder="Entrer une station">
            </div>
            </form>
        </div>

        <div class="modal-footer left">
            <button  id="submit" class="btn btn-primary"><big>Ajouter</big></button>
        </div>
    </form>
  </div>
  

</div>

{{ form_start(form) }}
<div class="row">
    <div class="col-xs-10">{{ form_row(form.code, {attr : {'placeholder': "Exemple: Dkr23"}}) }}</div>
</div>
<div class="row">
    <div class="col-xs-10">{{ form_row(form.nom, {attr : {'placeholder': "Exemple: Guichet Dakar"}}) }}</div>
</div>
<div class="row">
    <div class="col-xs-10">{{ form_row(form.lieu) }}</div>
    <div class="col-xs-2 cs"><a type="button" class="btn btn-warning" id="myBBtn" onclick="mode()"><i class="glyphicon glyphicon-plus"></i></a></div>
</div>
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}

<style>
    .cs{
       position: relative;
       top: 1.55em;
       left: 1.7em; 
    }

    .cs2{
       position: relative;
       top: 1.55em;
       left: 1.7em; 
    }
</style>

<script>

        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById('myModal');
        span.onclick = function() 
        {
            modal.style.display = "none";
        }
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }

        function ajouter(){
          var libelle = document.getElementById("libelle").value;
          modal.style.display = "none";
          document.location.href = `http://localhost:8000/addLieuGuichet/${libelle}`;          

        }
        
        function mode()
        {
            var modal = document.getElementById('myModal');

            modal.style.display = "block";
          
        }
        
//-------Traitement du Modal----------------//
document.getElementById("submit").addEventListener("click", function(e){
  e.preventDefault();

  var libelle = document.getElementById("libelle").value;

  let xhttp=new XMLHttpRequest();
  
  xhttp.onreadystatechange = function()
  {
    if(this.readyState == 4 && this.status == 200)
    {
      let response = JSON.parse(xhttp.response);
      console.log(response);
      
      if(response){
        swal({
        title: "Succès",
        text: "Une station a été ajoutée",
        icon: "success",
        
        })
            .then((value) => {
              var modal = document.getElementById('myModal');
              modal.style.display = "none";
               document.location.href="http://localhost:8000/guichet/new";
                
            });

      }
      
    }
  }
  
  xhttp.open("POST","/addLieuTrajetNavette",true);
  xhttp.responseType = "json";
  let parm = `${libelle}`;
  xhttp.send(parm);  

  return false;

});
        
    </script>
