{% extends 'base.html.twig' %}

{% block title %}Guichet index{% endblock %}

{% block body %}
    <h1>Guichet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guichet in guichets %}
            <tr>
                <td>{{ guichet.id }}</td>
                <td>{{ guichet.code }}</td>
                <td>{{ guichet.nom }}</td>
                <td>{{ guichet.createdAt ? guichet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ guichet.updatedAt ? guichet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{{ path('guichet_show', {'id': guichet.id}) }}">voir</a>
                    <a class="btn btn-info" role="button" href="{{ path('guichet_edit', {'id': guichet.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" role="button" href="{{ path('guichet_new') }}">nouveau</a>
{% endblock %}
