{% extends 'base.html.twig' %}

{% block title %}Guichet{% endblock %}

{% block body %}
    <h1>Guichet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guichet.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ guichet.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ guichet.nom }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ guichet.createdAt ? guichet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ guichet.updatedAt ? guichet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

<<<<<<< HEAD
    <a class="btn btn-info" role="button" href="{{ path('guichet_index') }}">retour a la liste</a>

    <a class="btn btn-info" role="button" href="{{ path('guichet_edit', {'id': guichet.id}) }}">modifier</a>
=======
    <a href="{{ path('guichet_index') }}">retour</a>

    <a href="{{ path('guichet_edit', {'id': guichet.id}) }}">edit</a>
>>>>>>> c78f1b554dbe737aa7d985890701381f80f1903f

    {{ include('guichet/_delete_form.html.twig') }}
{% endblock %}
