{% extends 'base.html.twig' %}

{% block title %}Guichet{% endblock %}

{% block body %}
<div class="box box-default">
          <div class="box-header with-border">
          <div class="col-md-6">
            <h4></h4>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-info" href="{{ path('guichet_index') }}"><i class="fa fa-list"></i>&nbsp; <big>Liste Guichet</big></a>&nbsp;
              <a class="btn btn-warning" role="button" href="{{ path('guichet_edit', {'id': guichet.id}) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;<big>Modifier</big></a>
          </div>
          </div>
          <!-- /.box-body -->
        </div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Information du Guichet {{guichet.nom}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>                
                <tr>
                    <th>Code</th>
                    <td>{{ guichet.code }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ guichet.nom }}</td>
                </tr>
                <tr>
                    <th>Lieu</th>
                    <td>{{ guichet.lieu.libelle }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ guichet.createdAt ? guichet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de modifiaction</th>
                    <td>{{ guichet.updatedAt ? guichet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    {{ include('guichet/_delete_form.html.twig') }}
{% endblock %}
