{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- CSS IMPRIMER-->
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Suivi des activités{% endblock %}

{% block body %}
    <h1>
    <big>
        Audit
    </big>
</h1>
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="col-md-6">
                <h4>
                    <i class="fa fa-list"></i>&nbsp;<big>Suivi des activités</big>
                </h4>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h1 class="box-title">Suivi des activités</h1>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            </div>
                        </div>
                    </div>
    <div class="box-body">
    <table data-order='[[ 4, "desc" ]]'  class="table table-hover table-striped table-bordered" id="example1">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>type</th>
                <th>Date de creation</th>
                <th>Date de modification</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
        {% for audit in audits %}
            <tr>
                <td>{{ audit.User.UserName }}</td>
                <td>{{ audit.User.Prenom }}</td>
                <td>{{ audit.User.Nom }}</td>
                {% if audit.type.libelle == "impression" %}
                    <td><button class="btn btn-success" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                {% if audit.type.libelle == "impression irreguliére" %}
                    <td><button class="btn btn-danger" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                {% if audit.type.libelle == "retour billet normale" %}
                    <td><button class="btn btn-info" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                {% if audit.type.libelle == "retour billet irregulier" %}
                    <td><button class="btn btn-warning" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                {% if audit.type.libelle == "Commande PTB" %}
                    <td><button class="btn btn-warning" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                {% if audit.type.libelle == "Commande autorail" %}
                    <td><button class="btn btn-info" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                {% if audit.type.libelle == "Commande Vignette" %}
                    <td><button class="btn btn-default" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                {% if audit.type.libelle == "Validation commande PTB" %}
                    <td><button class="btn btn-success" disabled>{{ audit.type.libelle}}</button></td>
                {% endif %}
                
                <td>{{ audit.createdAt ? audit.createdAt|localizeddate('none', 'none', null, null, 'EE d MMMM y à HH:mm:ss') }}</td>
                <td>{{ audit.updatedAt ? audit.updatedAt|localizeddate('none', 'none', null, null, 'EE d MMMM y à HH:mm:ss') }}</td>
                <td>{{ audit.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
{% endblock %}
{% block javascripts %}
    
    <!-- DataTables -->
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- Date -->
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/date-de.js" ></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    <!-- PDF AND CVS-->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>

    <script>

    $.fn.dataTable.moment( 'DD-MM-YYYY HH:mm:SS' );

        $(function () {
            $('#example1').DataTable({
                "reponsive": true,
                "pageLength": 10,                
                "language": {
                    "decimal":        "",
                    "loadingRecords": "Chargement...",
                    "processing":     "En traitement...",
                    "lengthMenu":     "Afficher _MENU_ entrées",
                    "zeroRecords":    "Aucun enregistrements correspondants trouvés",
                    "emptyTable":     "aucune donnée disponible",
                    "infoFiltered":   "(filtré de _MAX_ entrées totales)",
                    "infoEmpty":      "Affiche 0 à 0 sur 0 entrées",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ entrées",
                    "search": "Rechercher : ",
                    "paginate": {
                        "first": "Premier",
                        "last":  "Dernier",
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Imprimer',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend:'excel',
                        text: '<i class="fa fa-file-excel-o"></i> Excel'
                    },
                    {
                        extend:'csv',
                        text: '<i class="fa fa-file-text-o"></i> CSV'
                    },
                    {
                        extend:'pdf',
                        text: '<i class="fa fa-file-pdf-o"></i> PDf'
                    },
                    {
                        extend: 'colvis',
                        text: 'Colonnes visibles'
                    }
                ],
                columnDefs: [ {
                   // targets: -1,
                    visible: false
                } ]
            })
            table.buttons().container()
                .appendTo( '#example1_wrapper .col-sm-6:eq(0)' );
        })
    </script>
{% endblock %}
