{% extends 'base.html.twig' %}

{% block title %}Audit{% endblock %}

{% block body %}
    <h1>Audit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audit.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ audit.createdAt ? audit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ audit.updatedAt ? audit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ audit.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('audit_index') }}">back to list</a>

    <a href="{{ path('audit_edit', {'id': audit.id}) }}">edit</a>

    {{ include('audit/_delete_form.html.twig') }}
{% endblock %}
